.card {
  width: 100%;
  aspect-ratio: 1.3;
  border: solid 0px black;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__info {
  position: absolute;
  bottom: -38%;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: .6s ease-out;
  z-index: 10;
}
@media (max-width: 1023px) {
  .card__info {
    bottom: -40%;
  }
}
@media (max-width: 905px) {
  .card__info {
    bottom: -38%;
  }
}
@media (max-width: 767px) {
  .card__info {
    bottom: -44%;
  }
}
@media (max-width: 670px) {
  .card__info {
    bottom: -42.5%;
  }
}
@media (max-width: 490px) {
  .card__info {
    bottom: -40%;
  }
}
@media (max-width: 420px) {
  .card__info {
    bottom: -38%;
  }
}
@media (max-width: 350px) {
  .card__info {
    bottom: -43%;
    height: 60.5%;
  }
}

.card:hover .card__info {
  transform: translateY(-72%);
}
@media (max-width: 350px) {
  .card:hover .card__info {
    transform: translateY(-71%);
  }
}

.card__name {
  height: auto;
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  padding: 5px 0 0;
}
@media (max-width: 350px) {
  .card__name {
    line-height: 27px;
  }
}

.card__heading3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

.card__description {
  font-weight: 300;
}