.filters {
  padding: 0 0 45px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filters__search-input {
  width: 265px;
  height: 45px;
  border: 1px solid #bebebe;
  border-radius: 8px;
  font-size: 13px;
  line-height: 1.5;
  padding: 15px;
}

.filters__search-input:focus {
  border: 1px solid #000;
  outline: none;
}

.filters input::-webkit-input-placeholder {
  color: #b2b2b2;
}

.filters__search-input--dm {
  background-color: #0c0c0c;
  color: #b2b2b2;
  border: 1px solid #fff;
}
.filters__search-input--dm:focus {
  border: 1px solid #fff;
}