.gallery--dm {
  background-color: #000;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.gallery__header {
  padding: 35px 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery__darkmode-icon > * {
  cursor: pointer;
}
.gallery__darkmode-icon--dm > * {
  fill: #fff;
}

.gallery__card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}


