.gallery--dm {
  background-color: #000;
}
.gallery {
  padding: 0 42px 200px;
}
@media screen and (max-width: 1023px) {
  .gallery {
    padding: 0 34px;
  }
}
@media screen and (max-width: 767px) {
  .gallery {
    padding: 0 20px;
  }
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.gallery__header {
  padding: 35px 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery__darkmode-icon > * {
  cursor: pointer;
}
.gallery__darkmode-icon--dm > * {
  fill: #fff;
}

.gallery__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

@media (max-width: 1023px) {
  .gallery__card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .gallery__card-container {
    grid-template-columns: 1fr;
  }
}



